---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Courses from '@/components/Courses';

const title = 'Add Course Page';

const courseData = [
  {
    title: 'Front-end Development',
    img: '/fecard.png',
  },
  {
    title: 'Back-end Development',
    img: '/becard.png',
  },
  {
    title: 'API Development',
    img: '/apicard.png',
  },
  {
    title: 'Git & Github Mastery',
    img: '/gitcard.png',
  },
  {
    title: '+',
    img: '',
  },
];
---

<Layout title={title}>
  <main>
    <Header client:load />
    <div class='bg-sky-100 w-full h-full'>
      <div class='mx-8 lg:mx-32 pt-12'>
        <!-- Title -->
        <div class='flex flex-col'>
          <h2 class="text-black text-4xl font-bold font-['Poppins'] py-2">
            Edit Course
          </h2>
          <p class="text-black text-lg font-normal font-['Montserrat']">
            Select Existing Course
          </p>
        </div>

        <!-- Search button -->
        <button
          class='flex items-center px-2 mt-2 py-2 border border-black w-full lg:w-2/4 rounded-lg gap-2'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            class='opacity-30 w-4'
            ><circle
              cx='11'
              cy='11'
              r='8'
            ></circle><path d='m21 21-4.3-4.3'></path></svg
          >
          <div class="text-neutral-400 text-sm font-['Inter']">
            Search Course
          </div>
        </button>
      </div>

      <!-- Course list -->
      <div class='mx-8 lg:mx-32'>
        <h1 class='text-black text-2xl py-4 font-medium'>Course list</h1>

        <div class='flex flex-wrap lg:grid lg:grid-cols-2 gap-6'>
          {courseData.map((e, i) => <Courses courseData={e} />)}
        </div>
      </div>
    </div>
  </main>
</Layout>
