---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';

const title = 'Add Description Page';
---
<Layout title={title}>
  <main>
    <Header client:load />
    <div>
      <!-- Title -->
      <div class='flex flex-col border-2'>
        <h2 class="text-black text-4xl font-bold font-['Poppins'] py-2">
          Edit Course
        </h2>
        <p class="text-black text-lg font-normal font-['Montserrat']">
          Select Existing Course
        </p>
      </div>
      <!-- Simpan Button -->
      <div class='border-2'>
        <div class='w-fit border-4 rounded-md flex my-4'>
          <h1 class='font-semibold ml-auto'>Simpan</h1>
        </div>
        <!-- Desc materi -->
        <div class='border-2 px-10 py-4'>
          <div class='w-full bg-black h-40 lg:h-80 rounded-xl'></div>
          <div class='lg:mx-24'>
            <h1 class='font-extrabold text-2xl lg:my-4 mt-4'>
              Frontend Development
            </h1>
            <div class='lg:w-full'>
              <p class='mt-2 text-justify'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Sollicitudin ac orci phasellus egestas tellus rutrum. Elit
                scelerisque mauris pellentesque pulvinar pellentesque habitant
                morbi tristique senectus. Gravida neque convallis a cras semper
                auctor.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Edit materi -->
      <div class='border-2'>
        <div class='border-4'>
          <p>HTML</p>
          <div class='w-fit bg-gray-900 rounded-md p-4 flex my-4'>
            <h1 class='font-semibold text-white'>Download Modul</h1>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>