---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Courses from '@/components/Courses';
import Footer from '@/components/Footer';

const title = 'Add Course Page';

const courseData = [
  {
    title: 'Front-end Development',
    img: '/fecard.png',
  },
  {
    title: 'Back-end Development',
    img: '/becard.png',
  },
  {
    title: 'API Development',
    img: '/apicard.png',
  },
  {
    title: 'Git & Github Mastery',
    img: '/gitcard.png',
  },
  {
    title: '+',
    img: '',
  },
];
---

<Layout title={title}>
  <main>
    <Header client:load />
    <div class='bg-sky-100 w-full h-full'>
      <div class='mx-8 lg:mx-32 py-12'>
        <!-- Title -->
        <div class='flex flex-col'>
          <h2 class="text-black text-4xl font-bold font-['Poppins'] py-2">
            Edit Course
          </h2>
          <p class="text-black text-lg font-normal font-['Montserrat']">
            Select Existing Course
          </p>
        </div>

        <!-- Search button -->
        <div
          class='w-full lg:w-1/2 border rounded-lg flex justify-between border-black mt-2'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            class='w-4 mx-2 my-3 absolute opacity-30'
          >
            <circle
              cx='11'
              cy='11'
              r='8'
            ></circle>
            <path d='m21 21-4.3-4.3'></path>
          </svg>
          <input
            type='text'
            class='w-full rounded-lg py-2 pl-8 bg-transparent'
            placeholder='Search Course'
          />
        </div>
      </div>

      <!-- Course list -->
      <div class='mx-8 lg:mx-32 pb-8'>
        <h1 class='text-black text-2xl py-4 font-medium'>Course list</h1>

        <div class='flex flex-wrap lg:grid lg:grid-cols-2 gap-6'>
          {courseData.map((e, i) => <Courses courseData={e} />)}
        </div>
      </div>
    </div>
    <Footer />
  </main>
</Layout>
