---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Paths from '../components/Paths';
---

<Layout title='Welcome to Astro.'>
  <Header client:load />
  <main>
    <!-- Hero -->
    <section class="bg-cover bg-[url('/hero.png')] bg-center">
      <div
        class='w-full h-full bg-gradient-to-r from-black text-white px-8 py-16 max-lg:text-center flex flex-col gap-6'
      >
        <!-- Hero heading -->
        <p class='text-3xl font-bold'>
          Your Gateway to Web Development Mastery
        </p>

        <!-- Hero subheading -->
        <p class='text-xs'>
          Are you ready to embark on an exciting journey into the world of web
          development? Look no further than MangoXplore, your ultimate
          destination for mastering the art of web development.
        </p>

        <!-- Join us now button -->
        <button
          class='border-white text-black rounded-full px-6 py-2 bg-white self-center font-extrabold text-sm'
        >
          Join us now
        </button>
      </div>
    </section>

    <!-- Course preview -->
    <section class='py-6'>
      <!-- CP Heading -->
      <p class='font-bold text-center text-3xl py-8 px-6'>
        Which path will you take?
      </p>

      <!-- Path cards -->
      <Paths client:load />
    </section>
  </main>
</Layout>

<style></style>
