---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header';
---

<Layout title='Welcome to Astro.'>
  <main>
    <Header client:load />
    <h1 class='text-8xl'>Hello World</h1>
  </main>
</Layout>

<style></style>
