---
import Layout from '../layouts/Layout.astro';
import UserCourseCard from '@/components/UserCourseCard';
import Header from '../components/Header';
const Title = 'User Course Page';
import '../styles/user_course.css';

const cardData = [
  {
    title: 'HTML Basics',
    desc: 'Learn the fundamentals of HTML for structuring web content.',
    hour: 2,
    rating: 4.7,
  },
  {
    title: 'CSS Styling',
    desc: 'Master the art of styling web pages with CSS for a polished look.',
    hour: 3,
    rating: 4.5,
  },
  {
    title: 'JavaScript Fundamentals',
    desc: 'Explore the basics of JavaScript to make your web pages dynamic.',
    hour: 4,
    rating: 4.3,
  },
  {
    title: 'Responsive Web Design',
    desc: 'Create websites that adapt to different devices and screen sizes.',
    hour: 3.5,
    rating: 4.6,
  },
  {
    title: 'Intro to Frameworks',
    desc: 'Discover the power of web development frameworks like React or Angular.',
    hour: 5,
    rating: 4.8,
  },
];
---

<Layout title={Title}>
  <main>
    <Header client:load />
    <div class='flex flex-col gap-6 relative bg-white'>
      <!-- Hero -->
      <div class='bg-neutral-100'>
        <div class='flex flex-col p-8 gap-2'>
          <div
            class='w-full lg:w-[245px] h-[239px] rounded-xl bg-cover bg-center'
            style={{
              backgroundImage: `url(fecard.png)`,
            }}
          >
          </div>
          <div class='flex flex-col gap-2'>
            <div
              class='font-bold text-black text-3xl tracking-0 leading-normal'
            >
              Frontend Development
            </div>
            <div class='font-bold text-xs tracking-0 leading-normal opacity-50'>
              5 Materi
            </div>
            <p class='font-medium text-black text-sm tracking-0 leading-6'>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Sollicitudin ac orci phasellus egestas tellus rutrum. Elit
              scelerisque mauris pellentesque pulvinar pellentesque habitant
              morbi tristique senectus. Gravida neque convallis a cras semper
              auctor.
            </p>
            <div class='flex gap-8'>
              <div class='bg-blue-400 overflow-hidden rounded-md w-40 py-2'>
                <div
                  class='font-bold text-white text-xs text-center tracking-0 leading-normal'
                >
                  Berlangganan Sekarang
                </div>
              </div>
              <div class='bg-orange-400 overflow-hidden rounded-md w-40 py-2'>
                <div
                  class='font-bold text-white text-xs text-center tracking-0 leading-normal'
                >
                  Lihat Materi
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Course Episode HTML -->
      <div class='p-8'>
        <!-- Episode Header -->
        <p class='text-4xl font-bold text-left pb-4'>HTML</p>

        <div class='overflow-x-scroll flex gap-4'>
          {cardData.map((e, i) => <UserCourseCard {...e} />)}
        </div>
      </div>
    </div>
  </main>
</Layout>
